<div>
	<p>Los autores de este quiz son los saben, Fernando Gonzalez Albuisech y Mario Perales Pina</p>
	<p>f.galbuisech@gmail.com  marioperales124@gmail.com</p>
	<div id="foto_container">
		<image src="/sabe.jpg" width="30%" height="30%" id="i1">
	</div>



</div>
